body {
  font-family: Arial, sans-serif;
}

h1 {
  color: red;
}

/* h2 {
  color: black;
} */

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}

a {
  text-decoration: none;
}

.home {
  color: red;
}

.about {
  color: blue;
}

.services {
  color: red;
}

.contact {
  color: red;
}

.content {
  margin-top: 20px;
}

.content p {
  text-indent: 50px;
}
